[colors]
# Base16 Simple
# Scheme: JPOZ (http://jpoz.net)

foreground      = #3c474c
foreground_bold = #3c474c
cursor          = #3c474c
background      = #f6f8f8

# 16 color space
color0  = #242728
color1  = #ed735f
color2  = #8dd5aa
color3  = #fad19b
color4  = #967faf
color5  = #e88dc0
color6  = #34a7d2
color7  = #aebabf
color8  = #526068
color9  = #ed735f
color10 = #8dd5aa
color11 = #fad19b
color12 = #967faf
color13 = #e88dc0
color14 = #34a7d2
color15 = #f6f8f8

# 256 color space
color16 = #f5a940
color17 = #c9b588
color18 = #30383b
color19 = #3c474c
color20 = #768993
color21 = #e8e8e8
