[colors]
# Base16 Airboss
# Scheme: JPOZ (http://jpoz.net)

foreground      = #565A5C
foreground_bold = #565A5C
cursor          = #565A5C
background      = #F0F0F0

# 16 color space
color0  = #2B2D2E
color1  = #FF5A5F
color2  = #8CE071
color3  = #FFB400
color4  = #007A87
color5  = #7B0051
color6  = #00D1C1
color7  = #9CA299
color8  = #82898D
color9  = #FF5A5F
color10 = #8CE071
color11 = #FFB400
color12 = #007A87
color13 = #7B0051
color14 = #00D1C1
color15 = #F0F0F0

# 256 color space
color16 = #FFAA91
color17 = #B4A76C
color18 = #393C3D
color19 = #565A5C
color20 = #959595
color21 = #CDD0CC
