[global_config]
  title_transmit_bg_color = "#FF5A5F"
  title_inactive_bg_color = "#82898D"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#2B2D2E:#FF5A5F:#8CE071:#FFB400:#007A87:#7B0051:#00D1C1:#9CA299:#82898D:#FF5A5F:#8CE071:#FFB400:#007A87:#7B0051:#00D1C1:#F0F0F0"
    foreground_color = "#565A5C"
    background_color = "#F0F0F0"
    cursor_color = "#565A5C"

  [[Base16 Airboss Light]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#F0F0F0:#FF5A5F:#8CE071:#FFB400:#007A87:#7B0051:#00D1C1:#9CA299:#82898D:#FF5A5F:#8CE071:#FFB400:#007A87:#7B0051:#00D1C1:#2B2D2E"
    foreground_color = "#565A5C"
    background_color = "#F0F0F0"
    cursor_color = "#565A5C"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Airboss Light
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
