/* Base16 Simple
Scheme: JPOZ (http://jpoz.net) */

table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #f6f8f8; color: #3c474c }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #e8e8e8; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #f6f8f8; }
pre.sourceCode { background-color: #f6f8f8; line-height: 125% }
td.nums pre { background-color: #e8e8e8; line-height: 125% }
code.sourceCode span.kw { color: #967faf; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #e88dc0} /* Keyword.Type */
code.sourceCode span.dv { color: #f5a940 } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #f5a940 } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #f5a940 } /* Literal.Number.Float */
code.sourceCode span.ch { color: #8dd5aa} /* Literal.String.Char */
code.sourceCode span.st { color: #8dd5aa } /* Literal.String */
code.sourceCode span.co { color: #526068 } /* Comment */
code.sourceCode span.ot { color: #c9b588 } /* Comment.Preproc */
code.sourceCode span.al { color: #e88dc0 } /* Generic.Error */
code.sourceCode span.fu { color: #fad19b } /* Name.Function */
code.sourceCode span.re { color: #34a7d2}
code.sourceCode span.er { color: #ed735f; border: 1px solid #e88dc0 } /* Error */
