/**
 * Base16 Simple Dark
 *
 * @author JPOZ (http://jpoz.net)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
pre {
    background-color: #242728;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: #f6f8f8;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: #526068;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #ed735f; /* red */
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: #f5a940; /* orange */
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: #fad19b; /* yellow */
}

pre .constant.symbol, pre .string {
    color: #8dd5aa; /* green */
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: #967faf; /* blue */
}

pre .keyword, pre .storage {
    color: #e88dc0; /* purple */
}
