/*

    Name:       Base16 Airboss Light
    Author:     JPOZ (http://jpoz.net)

    highlight.js v8.0 template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00 = #2B2D2E;
$base01 = #393C3D;
$base02 = #565A5C;
$base03 = #82898D;
$base04 = #959595;
$base05 = #9CA299;
$base06 = #CDD0CC;
$base07 = #F0F0F0;
$base08 = #FF5A5F;
$base09 = #FFAA91;
$base0a = #FFB400;
$base0b = #8CE071;
$base0c = #00D1C1;
$base0d = #007A87;
$base0e = #7B0051;
$base0f = #B4A76C;

// Airboss Comment
.hljs-comment {
  color: $base03;
}

// Airboss Red
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: $base08;
}

// Airboss Orange
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: $base09;
}

// Airboss Yellow
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: $base0A;
}

// Airboss Green
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: $base0B;
}

// Airboss Aqua
.hljs-title,
.css .hljs-hexcolor {
  color: $base0C;
}

// Airboss Blue
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: $base0D;
}

// Airboss Purple
.hljs-keyword,
.javascript .hljs-function {
  color: $base0E;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: $base07;
  color: $base02;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
