/*

    Name:       Base16 Simple Dark
    Author:     JPOZ (http://jpoz.net)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-simple-dark.CodeMirror {background: #242728; color: #e8e8e8;}
.cm-s-base16-simple-dark div.CodeMirror-selected {background: #30383b !important;}
.cm-s-base16-simple-dark .CodeMirror-gutters {background: #242728; border-right: 0px;}
.cm-s-base16-simple-dark .CodeMirror-linenumber {color: #526068;}
.cm-s-base16-simple-dark .CodeMirror-cursor {border-left: 1px solid #768993 !important;}

.cm-s-base16-simple-dark span.cm-comment {color: #c9b588;}
.cm-s-base16-simple-dark span.cm-atom {color: #e88dc0;}
.cm-s-base16-simple-dark span.cm-number {color: #e88dc0;}

.cm-s-base16-simple-dark span.cm-property, .cm-s-base16-simple-dark span.cm-attribute {color: #8dd5aa;}
.cm-s-base16-simple-dark span.cm-keyword {color: #ed735f;}
.cm-s-base16-simple-dark span.cm-string {color: #fad19b;}

.cm-s-base16-simple-dark span.cm-variable {color: #8dd5aa;}
.cm-s-base16-simple-dark span.cm-variable-2 {color: #967faf;}
.cm-s-base16-simple-dark span.cm-def {color: #f5a940;}
.cm-s-base16-simple-dark span.cm-error {background: #ed735f; color: #768993;}
.cm-s-base16-simple-dark span.cm-bracket {color: #e8e8e8;}
.cm-s-base16-simple-dark span.cm-tag {color: #ed735f;}
.cm-s-base16-simple-dark span.cm-link {color: #e88dc0;}

.cm-s-base16-simple-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
