[global_config]
  title_transmit_bg_color = "#ed735f"
  title_inactive_bg_color = "#526068"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#242728:#ed735f:#8dd5aa:#fad19b:#967faf:#e88dc0:#34a7d2:#aebabf:#526068:#ed735f:#8dd5aa:#fad19b:#967faf:#e88dc0:#34a7d2:#f6f8f8"
    foreground_color = "#aebabf"
    background_color = "#242728"
    cursor_color = "#aebabf"

  [[Base16 Simple Dark]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#242728:#ed735f:#8dd5aa:#fad19b:#967faf:#e88dc0:#34a7d2:#aebabf:#526068:#ed735f:#8dd5aa:#fad19b:#967faf:#e88dc0:#34a7d2:#f6f8f8"
    foreground_color = "#aebabf"
    background_color = "#242728"
    cursor_color = "#aebabf"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Simple Dark
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
