[global_config]
  title_transmit_bg_color = "#E87364"
  title_inactive_bg_color = "#526068"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#242728:#E87364:#93D4AC:#F8D0A0:#43A9CF:#9581AD:#81B5BC:#aebabf:#526068:#E87364:#93D4AC:#F8D0A0:#43A9CF:#9581AD:#81B5BC:#f6f8f8"
    foreground_color = "#aebabf"
    background_color = "#242728"
    cursor_color = "#aebabf"

  [[Base16 Simple Dark]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#242728:#E87364:#93D4AC:#F8D0A0:#43A9CF:#9581AD:#81B5BC:#aebabf:#526068:#E87364:#93D4AC:#F8D0A0:#43A9CF:#9581AD:#81B5BC:#f6f8f8"
    foreground_color = "#aebabf"
    background_color = "#242728"
    cursor_color = "#aebabf"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Simple Dark
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
