[colors]
# Base16 Simple
# Scheme: JPOZ (http://jpoz.net)

foreground      = #3c474c
foreground_bold = #3c474c
cursor          = #3c474c
background      = #f6f8f8

# 16 color space
color0  = #242728
color1  = #E87364
color2  = #93D4AC
color3  = #F8D0A0
color4  = #43A9CF
color5  = #9581AD
color6  = #81B5BC
color7  = #aebabf
color8  = #526068
color9  = #E87364
color10 = #93D4AC
color11 = #F8D0A0
color12 = #43A9CF
color13 = #9581AD
color14 = #81B5BC
color15 = #f6f8f8

# 256 color space
color16 = #F1A74F
color17 = #C8B48C
color18 = #30383b
color19 = #3c474c
color20 = #768993
color21 = #e8e8e8
